.AnimalBox {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
}

.AnimalFoot {
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.IntroBox {
  /* position: absolute; */
  margin: 0 auto;
  text-align: center;
  align-items: center;
  width: 90vw;
  height: 90vh;
  background-color: tomato;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../public/img/moonNight.jpg");
}
